<div class="page-header">
  <h1>Recipes</h1>
</div>
<p>Here you have a lot of recipes</p>
<div class="col-md-4">
  <ul>
  {{#each model as |recipe|}}
    <li>
      {{#link-to 'recipes.recipe.show' recipe.id}}
        {{recipe.description}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
</div>
<div class="col-md-8">
  {{outlet}}
</div>
